* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* color */

    /* blues */
    --dark-blue: #053742;
    --light-blue: #39A2DB;
    --lightest-blue: #A2DBFA;

    /* whites */
    --chalk-white: #E8F0F2;
    --pastel-white: #FAF3F3;
    --mint-white: #EFFFFD;
    font-family: 'Jost', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--mint-white);
    height: 100%;
}

.cursor:hover {
    cursor: pointer;
}

.nav {
    display: flex;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--lightest-blue);

}

.logo {
    width: 20%;

}

.category-span:first-of-type {
}

.category-span {
    padding: 1%;
    width: 20%;
    height: 28%;
}

.thumbnail-category {
    /* width: 225px; */
    /* height: 317px; */
    /* height is 140% of width */
}

@font-face {
    font-family: Jost;
    src: url('./assets/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}