* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* color */

    /* blues */
    --dark-blue: #053742;
    --light-blue: #39A2DB;
    --lightest-blue: #A2DBFA;

    /* whites */
    --chalk-white: #E8F0F2;
    --pastel-white: #FAF3F3;
    --mint-white: #EFFFFD;
    font-family: 'Jost', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--mint-white);
    height: 100%;
}

.cursor:hover {
    cursor: pointer;
}

.nav {
    display: flex;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--lightest-blue);

}

.logo {
    width: 20%;

}

.category-span:first-of-type {

}

.category-span {
    padding: 1%;
    /* min-width: 20%;
    min-height: 28%; */
    /* max-width: 20%; */
    /* max-height: 28%; */
}

.thumbnail-category {
    max-width: 11.7rem;
    max-height: 16.38rem
    /* width: 225px; */
    /* height: 317px; */
    /* height is 140% of width */
}


.scoll-pane::-webkit-scrollbar { 
    display: none;
    }

@font-face {
    font-family: Jost;
    src: url('./assets/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

/* micro-adjustments for mobile */

@media only screen and (max-width: 480px) {
    .category-span {
        padding: 2.6%;
    }

    .thumbnail-category {
        max-width: 9.36rem;
        max-height: 13.10rem;
    }
  }